.title {
  font-family: cursive;
  color: ghostwhite;
  margin-top: 12px;
}

.input {
  color: deepskyblue;
  font-size: x-large;
  width: 5em;
  height: 1em;
  border: 2px solid deepskyblue;
  border-radius: 17px;
  text-align: center;
  margin: 10px 10px;
  background: repeating-radial-gradient(black, transparent 100px);
  font-family: cursive;
}

.btn {
  width: 10em;
  height: 1.4em;
  background: cadetblue;
  border: deepskyblue 1px solid;
  color: #091464;
  font-size: 19px;
  border-radius: 1em;
}
.btnDisable {
  width: 10em;
  height: 1.4em;
  border: gold 1px solid;
  color: #091464;
  font-size: 19px;
  border-radius: 1em;
}

.div {
  display: flex;
  justify-content: space-evenly;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  text-align: end;

}

.image {
  width: 2em;
  height: 12m;
  border-radius: 22px;
  margin: 0px 0px -3px 10px;
}
